@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


@import "tailwindcss";

@theme{
    --font-montserrat: "Montserrat";
    --font-lato : "Lato";
    --font-outfit : "Outfit"
}

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
}

